<div class="account-wrapper">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="/profile" role="tab">My books</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/uploadbook" role="tab">Upload book</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/profilesettings" role="tab">My account</a></li>
    </ul>
</div>