
<!-- Profile Content -->

<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Upload</li>
            </ol>
        </div>
    </nav>
</div>
<section class="pro-content profile-content">
    <div class="container ">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                   Upload item
                </h1>
            </div>
        </div>

        <div class="row ">
            <div class=" col-12 col-lg-3">


                <ul class="list-group mb-4">
                    <li class="list-group-item">
                        <a class="nav-link" href="profile.html">
                            <i class="fas fa-user"></i>
                            Profile
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" href="wishlist.html">
                            <i class="fas fa-heart"></i>
                            Wishlist
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" href="orders.html">
                            <i class="fas fa-shopping-cart"></i>
                            Orders
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" href="shipping-address.html">
                            <i class="fas fa-map-marker-alt"></i>
                            Shipping Address
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-power-off"></i>
                            Logout
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link" href="change-password.html">
                            <i class="fas fa-unlock-alt"></i>
                            Change Password
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-9 ">
                <form id="listABookForm" method="post" enctype="multipart/form-data" action="/profile/uploadbook" name="general-form">
                    <div class="row">

                        <div class="col-12 col-md-7">
                            <h5>Upload Form</h5>
                            <div class="from-group row mb-4 pt-3">

                                <div class="input-group col-12">

                                    <input required type="text" name="title" class="form-control" id="inlineFormInputGroup0" placeholder="Title">
                                </div>
                            </div>
                            <div class="from-group row mb-4">

                                <div class="input-group col-12">

                                    <input type="text" class="form-control" id="inlineFormInputGroup1" placeholder="Author" name="author">
                                </div>
                            </div>
                            <div class="from-group row mb-4">

                                <div class="input-group col-12">

                                    <input type="text" name="email" class="form-control" id="inlineFormInputGroup2" placeholder="ISBN">
                                </div>
                            </div>



                            <div class="from-group row mb-4">

                                <div class="input-group col-12">
                                    <select class="form-control" id="inlineFormInputGroup3">
                                        <option>Subject</option>
                                        <option>Male</option>
                                        <option>Female</option>

                                    </select>
                                </div>
                            </div>


                            <div class="from-group row mb-4">

                                <div class="input-group col-12">
                                    <input type="text" name="phone" class="form-control" placeholder="Price" id="inlineFormInputGroup4">
                                </div>
                            </div>

                            <div class="from-group row mb-4">

                                <div class="input-group col-12">

                                    <input type="text" name="email" class="form-control" id="inlineFormInputGroup2" placeholder="Description">

                                </div>
                            </div>



                            <button type="submit" class="btn btn-secondary mt-3 swipe-to-top">Upload</button>

                        </div>
                        <div class="col-12 col-md-5">
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </li>
                                <li>
                                    Aliquam ac mi ultricies, congue ex vel, aliquam nisi.
                                </li>
                                <li>
                                    Cras ultrices felis at elit luctus, eget venenatis lacus luctus.
                                    Cras vel nisl non ligula euismod elementum.
                                </li>
                                <li>
                                    Curabitur volutpat risus ornare justo eleifend, id imperdiet neque iaculis.
                                    Etiam sagittis eros id rhoncus bibendum.
                                    Phasellus et arcu in magna congue fermentum.
                                </li>

                            </ul>
                        </div>

                    </div>
                </form>
                <!-- ............the end..... -->
            </div>
        </div>
    </div>
</section>



















<div class="account-page">
    <div class="container">
        <div class="account-wrapper">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/profile" role="tab">My books</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/profile/uploadbook" role="tab">Upload book</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/profile/settings" role="tab">My account</a></li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content">
                <div class="tab-pane active" id="wishlist" role="tabpanel">
                    <div class="tab-header clearfix">
                        <h4 class="float-left">Upload Book</h4>
                    </div><br/><br/>
                    <div class="col-md-8">
                        {{> upload_form }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>