<div class=" col-12 col-lg-3">


    <ul class="list-group">
        <li class="list-group-item">
            <a class="nav-link" href="/profile/settings">
                <i class="fas fa-user"></i>
                Profile
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/profile">
                <i class="fas fa-book"></i>
                My Uploads
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/profile/uploadbook">
                <i class="fas fa-book"></i>
                Upload Item
            </a>
        </li>


        <li class="list-group-item">
            <a class="nav-link" href="/signout">
                <i class="fas fa-power-off"></i>
                Logout
            </a>
        </li>
    </ul>
</div>