
<!-- Profile Content -->

<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Upload</li>
            </ol>
        </div>
    </nav>
</div>
<section class="pro-content profile-content">
    <div class="container ">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                   Upload item
                </h1>
            </div>
        </div>

        <div class="row ">

            {{>profile_menu}}
            <div class="col-12 col-lg-9 ">



                {{#if (equal_strings_soft currentUserObject.emailverified true) }}
                    {{> upload_form }}
                {{else}}
                    <h5>It seems you haven't verified your email yet! </h5>
                    <h5>Once you're verified, you'll be able to upload to BookStack</h5>
                    <p>Note: This does not need to be your UCLA email</p>
                    <form id="verify_email" action="/verify/sendemail" method="get" hidden>
                    </form>
                    <br>
                    <button form="verify_email" type="submit" class="btn btn-secondary btn-lg swipe-to-top" ><i class="fas fa-check"></i>Verify Email</button>
                {{/if}}


                <!-- ............the end..... -->
            </div>
        </div>
    </div>
</section>