<div class=" col-12 col-lg-3">


    <ul class="list-group">
        <li class="list-group-item">
            <a class="nav-link" href="profile.html">
                <i class="fas fa-user"></i>
                Profile
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/profile">
                <i class="fas fa-book"></i>
                My Books
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="/profile/uploadbook">
                <i class="fas fa-book"></i>
                Upload Book
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="orders.html">
                <i class="fas fa-shopping-cart"></i>
                Orders
            </a>
        </li>

        <li class="list-group-item">
            <a class="nav-link" href="/signout">
                <i class="fas fa-power-off"></i>
                Logout
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link" href="change-password.html">
                <i class="fas fa-unlock-alt"></i>
                Change Password
            </a>
        </li>
    </ul>
</div>