<form id="listABookForm" method="post" enctype="multipart/form-data" action="/profile/uploadbook" name="general-form">
    <div class="row">

        <div class="col-12 col-md-7">
            <h5>Upload Form</h5>

            <div class="from-group row mb-4 pt-3">


                <div class="input-group col-12">

                    <input required autocomplete="off" type="text" name="title" class="form-control" id="inlineFormInputGroup0" placeholder="Title">
                </div>
            </div>
            <div class="from-group row mb-4">

                <div class="input-group col-12">

                    <input type="text" autocomplete="off" class="form-control" id="inlineFormInputGroup1" placeholder="Author" name="author">
                </div>
            </div>
            <a href="/howToFindISBN" target="_blank">What's this?</a>
            <div class="from-group row mb-4">

                <div class="input-group col-12">

                    <input type="text" autocomplete="off" name="isbn" class="form-control" id="inlineFormInputGroup2" placeholder="ISBN">

                </div>


            </div>

            {{!--TODO: Have an arrow logo next to the Condition text--}}
            <div class="from-group row mb-4">
                <div class="input-group col-12">
                    <select id="condition" name="condition" class="form-control" placeholder="Condition">
                        <option value="" disabled selected hidden>Condition</option>
                        <option value="New">New</option>
                        <option value="Like New">Like New</option>
                        <option value="Good">Good</option>
                        <option value="Acceptable">Acceptable</option>
                    </select>
                </div>
            </div>

            <div class="from-group row mb-4">

                <div class="input-group col-12">

                    <select id="upload-categories" class="form-control" name="subject[]" form="listABookForm" multiple="multiple" style="width: 500px" required>
                        {{!-- The [] after subject, i.e. 'name="subject[]"' make this form always pass in an array, even if the array is only 1 item. Without this,
                        it will only send a single item if only one is selected but an array if more than 1 are. This is simpler to deal with --}}
                        {{!-- Handlebars comment: This select will be dynamically populated from /json/upload-categories.json --}}


                    </select>

                </div>
            </div>


            <div class="from-group row mb-4">

                <div class="input-group col-12">
                    <input min="0" type="number" name="price" id="price" step="0.01"  class="form-control" placeholder="Price" required autocomplete="off">
                </div>
            </div>



            <div class="from-group row mb-4">

                <div class="input-group col-12">

                    <textarea autocomplete="off" class="form-control" id="description" type="text" name="description" form="listABookForm" placeholder="Description"></textarea>

                </div>
            </div>
            <div class="from-group row mb-4">

                <div class="input-group col-12">

                    <p>Images</p>
                    <input id="upload-files" class="form-control-file" type="file" name="images" multiple="multiple" />

                    <a href="/uploadpics" target="_blank">How do I upload multiple pictures?</a>


                </div>
            </div>









            <button type="submit" class="btn btn-secondary mt-3 swipe-to-top">Upload</button>

        </div>
        <div class="col-12 col-md-5">
            <ul>
                <li>
                    While it is not required, we HIGHLY recommend uploading images of your book.
                </li>
                <li>
                    Fill out fields that apply to your item.
                </li>
                <li>
                    Tips:
                    <br>
                    <a href="/bookformtips" target="_blank">Tips for uploading books</a>
                    <br>
                    <a href="/heicimages" target="_blank">Uploading HEIC images</a>

                </li>

            </ul>
        </div>

    </div>
</form>