@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

.buy-arrow {
  background-image: url("../images/icons/buy arrow.svg");
  height: 20px;
  width: 20px; }

.sell-arrow {
  background: url("../../images/icons/sell arrow.svg");
  height: 20px;
  width: 20px; }

.both-arrow {
  background: url("../../images/icons/buy and sell arrow.svg");
  height: 20px;
  width: 20px; }

:root {
  --dark-color-a: #2D68C4;
  --dark-color-b: #2D68C4;
  --light-color: #a6c4db;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --back-color: #ffffff; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: var(--back-color); }

.chat-wrapper {
  width: 100%;
  height: 75vh;
  border-radius: 20px;
  border: 1px solid #dddddd;
  overflow: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .chat-wrapper i {
    color: #2d68c4;
    margin: auto; }
  .chat-wrapper h4 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 16pt; }
  .chat-wrapper ::-webkit-scrollbar {
    width: 8px; }
  .chat-wrapper ::-webkit-scrollbar-track {
    background: #fff; }
  .chat-wrapper ::-webkit-scrollbar-thumb {
    background: #ced4da; }
  .chat-wrapper ::-webkit-scrollbar-thumb:hover {
    background: #adb5bd; }

.message-container .message-header {
  border-bottom: 1px solid #dddddd; }
  .message-container .message-header a {
    display: flex;
    align-items: center; }
    .message-container .message-header a i {
      font-size: 22px; }

.message-container .message-search-container {
  height: 40px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center; }
  .message-container .message-search-container .message-search {
    margin: auto;
    height: 30px;
    border: none;
    outline: none; }
  .message-container .message-search-container i {
    margin: auto; }

.message-container .message-filter-select {
  min-height: 25px; }
  .message-container .message-filter-select .filter-button {
    cursor: pointer;
    height: 25px;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #dddddd;
    border-top: none;
    display: flex;
    align-items: center; }
    .message-container .message-filter-select .filter-button img {
      height: 1em;
      width: 1em;
      position: absolute; }
    .message-container .message-filter-select .filter-button p {
      margin: 0;
      width: 100%;
      text-align: center; }
  @media (max-width: 992px) {
    .message-container .message-filter-select .filter-button {
      height: 50px; }
      .message-container .message-filter-select .filter-button p {
        align-self: center; } }
  .message-container .message-filter-select .active {
    color: #fff;
    background-color: #adb5bd;
    border: 1px solid #adb5bd;
    border-top: none; }
  .message-container .message-filter-select .message-filter-select:first-child {
    border-left: none; }
  .message-container .message-filter-select .message-filter-select:last-child {
    border-right: none; }

.message-container .people-select-container {
  overflow-y: scroll;
  overflow-x: hidden; }
  .message-container .people-select-container .person-container {
    border-bottom: 1px solid #dddddd;
    height: 60px;
    width: 100%; }
    .message-container .people-select-container .person-container .person-icon-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      .message-container .people-select-container .person-container .person-icon-container .person-icon {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden; }
        .message-container .people-select-container .person-container .person-icon-container .person-icon img {
          height: auto;
          width: 100%; }
    .message-container .people-select-container .person-container .person-info {
      align-self: center; }
      .message-container .people-select-container .person-container .person-info .person-name-and-icon {
        align-items: center; }
        .message-container .people-select-container .person-container .person-info .person-name-and-icon h5 {
          font-family: "Montserrat-Regular", sans-serif;
          font-size: 1em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0; }
        .message-container .people-select-container .person-container .person-info .person-name-and-icon img {
          height: 1em;
          margin-left: 0;
          padding-left: 0; }
      .message-container .people-select-container .person-container .person-info .book-name h6 {
        font-family: "Montserrat-Regular", sans-serif;
        font-size: .8em;
        color: #6c757d;
        line-height: 1.1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
        letter-spacing: 0; }
  .message-container .people-select-container .person-container:hover {
    background-color: #e9ecef;
    cursor: pointer; }
  .message-container .people-select-container .active {
    background-color: #e9ecef; }

.chat-container {
  border-left: 1px solid #adb5bd;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .chat-container .chat-header {
    background-color: #e9ecef;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #dddddd;
    margin-right: -16px; }
    .chat-container .chat-header .chat-person-book-info h4 {
      margin-bottom: 0; }
    .chat-container .chat-header .chat-person-book-info .chat-buy-sell {
      font-family: "Montserrat-Bold", sans-serif;
      color: #2d68c4; }
    .chat-container .chat-header .chat-person-book-info .chat-book-name {
      font-family: "Montserrat-Regular", sans-serif;
      color: #6c757d;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: 0; }
    .chat-container .chat-header .chat-more-data {
      display: flex;
      justify-content: center;
      align-items: center; }
      .chat-container .chat-header .chat-more-data a i {
        color: #2d68c4;
        font-size: 30px; }
  .chat-container .chat-messages-container {
    height: 439px;
    overflow-y: scroll; }
  .chat-container .chat-new-container {
    height: 40px;
    margin-bottom: 0;
    border-top: 1px solid #dddddd; }
    .chat-container .chat-new-container .chat-input {
      background-color: #e9ecef; }
    .chat-container .chat-new-container .chat-input {
      display: flex; }
      .chat-container .chat-new-container .chat-input input {
        background: rgba(216, 216, 216, 0);
        margin: auto 0;
        height: 30px;
        border: none;
        outline: none;
        width: 100%; }
    .chat-container .chat-new-container .chat-message-attach {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #dddddd; }
      .chat-container .chat-new-container .chat-message-attach a i {
        font-size: 30px; }
