<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8" />
        <title>BookStack Admin Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/admintest/images/favicon.ico">

        <!-- jvectormap -->
        <link href="/admintest/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

        <!-- App css -->
        <link href="/admintest/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admintest/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/admintest/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/admintest/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/admintest/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

   <body>

      {{{ body }}}

      <!-- jQuery  -->
      <script src="/admintest/js/jquery.min.js"></script>
      <script src="/admintest/js/jquery-ui.min.js"></script>
      <script src="/admintest/js/bootstrap.bundle.min.js"></script>
      <script src="/admintest/js/metismenu.min.js"></script>
      <script src="/admintest/js/waves.js"></script>
      <script src="/admintest/js/feather.min.js"></script>
      <script src="/admintest/js/jquery.slimscroll.min.js"></script>
      <script src="/admintest/plugins/apexcharts/apexcharts.min.js"></script>
      
      <script src="/admintest/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
      <script src="/admintest/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
      
      <script src="/admintest/pages/jquery.analytics_dashboard.init.js"></script>
      
      <!-- App js -->
      <script src="/admintest/js/app.js"></script>
      
   </body>

   

</html>