<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="UTF-8">

    {{# if (user_is_logged_in currentUser)}}
        <title>Kajata&nbsp;&minus;&nbsp;Bootstrap Multipurpose Shopping Template</title>
    {{else}}
        <title>Katsfdskj&nbsp;&minus;&nbsp;Bootstrap Multipurpose Shopping Template</title>
    {{/if}}


    <meta name="description" content="Made for UCLA students">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="BookStack">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="icon" type="image/ico" href="/images/favicon.ico">

    {{>css}}


</head>

<body >
<!-- Paste this code after body tag -->
<div class="se-pre-con"></div>

{{> main-header-index }}

{{> sticky-header-index }}

{{> mobile-header-index }}

<!-- Revolution Layer Slider -->
<div class="carousel-content carousel-content-home-page-2">
    <div class="container-fuild">
        <div id="rev_slider_1077_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect136" data-source="gallery" style="padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="rev_slider_1077_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                <ul >
                    <!-- SLIDE  -->
                    <li data-index="rs-3042" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="images/revolution_layer_slider_demo_2/Slider_01_01.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="container" style="position: relative;">

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption BigBold-SubTitle  "
                                 id="slide-3043-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['14','14','14','15']"
                                 data-y="['top','top','top','top']" data-voffset="['110','90','60','40']"
                                 data-fontsize="['18','18','18','14']"
                                 data-lineheight="['18','18','18','16']"
                                 data-width="['580','580','100%','100%']"
                                 data-height="none"
                                 data-whitespace="normal"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 12;  white-space: normal; color:#fff; ">LED-backlit Display</div>

                            <!-- LAYER NR. 2 -->

                            <div class="tp-caption BigBold-Title   tp-resizeme"
                                 id="slide-3043-layer-1"
                                 data-x="['left','left','left','left']" data-hoffset="['13','13','13','14']"
                                 data-y="['top','top','top','top']" data-voffset="['140','120','90','70']"
                                 data-fontsize="['50','40','30','24']"
                                 data-lineheight="['70','50','40','30']"
                                 data-width="['580','580','100%','100%']"
                                 data-height="none"
                                 data-whitespace="['nowrap','nowrap','nowrap','normal']"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 11; white-space: nowrap; color:#fff; ">Update Yourself by<br>
                                Latest Technology</div>



                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                 id="slide-3043-layer-3"
                                 data-x="['left','left','left','left']" data-hoffset="['14','16','16','15']"
                                 data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                 data-width="['150','150','150','150']"
                                 data-height="none"
                                 data-whitespace="nowrap"

                                 data-type="button"
                                 data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"shop-page2.html"}]'
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[12,12,12,12]"
                                 data-paddingright="[28,28,28,28]"
                                 data-paddingbottom="[12,12,12,12]"
                                 data-paddingleft="[28,28,28,28]"

                                 style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Shop Now</div>

                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3043" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="NEW ELEGENCE" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="images/revolution_layer_slider_demo_2/Slider_01_02.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="container" style="position: relative;">

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption BigBold-SubTitle  "
                                 id="slide-3043-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['110','90','60','40']"
                                 data-fontsize="['18','18','18','14']"
                                 data-lineheight="['18','18','18','16']"
                                 data-width="['100%','100%','100%','100%']"
                                 data-height="none"
                                 data-whitespace="normal"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 12;  white-space: normal; color:#fff; ">Fine weather all year round</div>

                            <!-- LAYER NR. 5 -->

                            <div class="tp-caption BigBold-Title   tp-resizeme"
                                 id="slide-3043-layer-1"
                                 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['140','120','90','70']"
                                 data-fontsize="['50','40','30','24']"
                                 data-lineheight="['70','50','40','30']"
                                 data-width="['100%','100%','100%','100%']"
                                 data-height="none"
                                 data-whitespace="['nowrap','nowrap','nowrap','normal']"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 11; white-space: nowrap; color:#fff; ">Rectify Your Feeling <br>With Surroundings</div>



                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                 id="slide-3043-layer-3"
                                 data-x="['left','center','left','left'] " data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                 data-width="['150','150','150','150']"
                                 data-height="none"
                                 data-whitespace="nowrap"

                                 data-type="button"
                                 data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"shop-page2.html"}]'
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[12,12,12,12]"
                                 data-paddingright="[28,28,28,28]"
                                 data-paddingbottom="[12,12,12,12]"
                                 data-paddingleft="[28,28,28,28]"

                                 style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Shop Now</div>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3044" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Beauty Here" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="images/revolution_layer_slider_demo_2/Slider_01_03.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="container" style="position: relative;">

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption BigBold-SubTitle  "
                                 id="slide-3043-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['603','480','200','20']"
                                 data-y="['top','top','top','top']" data-voffset="['110','90','60','40']"
                                 data-fontsize="['18','18','18','14']"
                                 data-lineheight="['18','18','18','16']"
                                 data-width="['580','580','100%','100%']"
                                 data-height="none"
                                 data-whitespace="normal"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 12;  white-space: normal; color:#fff; ">Meet New Generation Phones</div>

                            <!-- LAYER NR. 8 -->

                            <div class="tp-caption BigBold-Title   tp-resizeme"
                                 id="slide-3043-layer-1"
                                 data-x="['left','left','left','left']" data-hoffset="['602','480','200','20']"
                                 data-y="['top','top','top','top']" data-voffset="['140','120','90','70']"
                                 data-fontsize="['50','40','30','24']"
                                 data-lineheight="['70','50','40','30']"
                                 data-width="['580','580','100%','100%']"
                                 data-height="none"
                                 data-whitespace="['nowrap','nowrap','nowrap','normal']"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 11; white-space: nowrap; color:#fff; ">See Through A Huge<br>
                                Mobile Collection
                            </div>



                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                 id="slide-3043-layer-3"
                                 data-x="['left','left','left','left']" data-hoffset="['603','480','200','20']"
                                 data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                 data-width="['150','150','150','150']"
                                 data-height="none"
                                 data-whitespace="nowrap"

                                 data-type="button"
                                 data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"shop-page2.html"}]'
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[12,12,12,12]"
                                 data-paddingright="[28,28,28,28]"
                                 data-paddingbottom="[12,12,12,12]"
                                 data-paddingleft="[28,28,28,28]"

                                 style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Shop Now</div>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</div>

<section class="info-boxes-content">
    <div class="container-fuild">
        <div class="info-box-full bg-info-boxes-content">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-3 pl-xl-0">
                    <div class="info-box">
                        <i class="fas fa-truck"></i>
                        <div class="block">
                            <h4 class="title">Free Shipping</h4>
                            <p>We provide free shipping for all order over $200.00</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-3 pl-xl-0">
                    <div class="info-box">
                        <i class="fas fa-life-ring"></i>
                        <div class="block">
                            <h4 class="title">Support 24/7</h4>
                            <p>We provide support to our customers 24 hours.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 pl-xl-0">
                    <div class="info-box">
                        <i class="fas fa-credit-card"></i>
                        <div class="block">
                            <h4 class="title">Safe Payment</h4>
                            <p>We provide always safe payment methods.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 pl-xl-0">
                    <div class="info-box last">
                        <i class="fas fa-reply"></i>
                        <div class="block">
                            <h4 class="title">Returns</h4>
                            <p>We provide always safe payment methods.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Popular Products -->
<section class="pro-content pro-plr-content ">
    <div class="container">
        <div class="products-area">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-12">
                    <div class="pro-heading-title">
                        <h2>Welcome to Store</h2>
                        <p>Vitae posuere urna blandit sed. Praesent ut dignissim risus. </p></div>
                </div>
            </div>
            <div class=" row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product">
                        <article>
                            <div class="pro-icons mobile-pro-icons d-lg-none d-xl-none">
                                <a href="wishlist.html" class="icon active swipe-to-top">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                            </div>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_01.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images_demo_2/product_image_01_02.jpg" alt="Product Image"></span>
                                </a>
                                <div class="pro-buttons d-none d-lg-block d-xl-block">
                                    <div class="pro-icons">
                                        <a href="wishlist.html" class="icon active swipe-to-top">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                    </div>


                                    <a href="shop-page1.html" class="btn btn-secondary btn-block swipe-to-top">Add to Cart</a>
                                </div>
                                <div class="pro-tag">Sale</div>
                            </div>
                            <div class="pro-description">
                          <span class="pro-info">
                              Mobiles and Tablets
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Original Samsung Galaxy S8 Plus</a></h2>

                                <div class="pro-price">
                                    <del>$999</del><ins>$900</ins>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product">
                        <article>
                            <div class="pro-icons mobile-pro-icons d-lg-none d-xl-none">
                                <a href="wishlist.html" class="icon active swipe-to-top">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                            </div>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_02.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images_demo_2/product_image_02_02.jpg" alt="Product Image"></span>
                                </a>
                                <div class="pro-buttons d-none d-lg-block d-xl-block">
                                    <div class="pro-icons">
                                        <a href="wishlist.html" class="icon active swipe-to-top">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                    </div>


                                    <a href="shop-page1.html" class="btn btn-secondary btn-block swipe-to-top">Add to Cart</a>
                                </div>
                                <div class="pro-tag bg-primary">Featured</div>
                            </div>
                            <div class="pro-description">
                          <span class="pro-info">
                              Computers & Accessories
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">15-6inch Gaming Notebook Laptop</a></h2>

                                <div class="pro-price">
                                    <del>$2120</del><ins>$1185</ins>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product">
                        <article>
                            <div class="pro-icons mobile-pro-icons d-lg-none d-xl-none">
                                <a href="wishlist.html" class="icon active swipe-to-top">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                            </div>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_03.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images_demo_2/product_image_03_02.jpg" alt="Product Image"></span>
                                </a>
                                <div class="pro-buttons d-none d-lg-block d-xl-block">
                                    <div class="pro-icons">
                                        <a href="wishlist.html" class="icon active swipe-to-top">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                    </div>


                                    <a href="shop-page1.html" class="btn btn-secondary btn-block swipe-to-top">Add to Cart</a>
                                </div>

                            </div>
                            <div class="pro-description">
                          <span class="pro-info">
                              Cameras, Audio & Video
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">3D Stereo Wireless Earphone For Laptop</a></h2>

                                <div class="pro-price">
                                    <del>$140</del><ins>$90</ins>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product">
                        <article>
                            <div class="pro-icons mobile-pro-icons d-lg-none d-xl-none">
                                <a href="wishlist.html" class="icon active swipe-to-top">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                            </div>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_04.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images_demo_2/product_image_04_02.jpg" alt="Product Image"></span>
                                </a>
                                <div class="pro-buttons d-none d-lg-block d-xl-block">
                                    <div class="pro-icons">
                                        <a href="wishlist.html" class="icon active swipe-to-top">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                    </div>


                                    <a href="shop-page1.html" class="btn btn-secondary btn-block swipe-to-top">Add to Cart</a>
                                </div>
                                <div class="pro-tag bg-success">NEW</div>
                            </div>
                            <div class="pro-description">
                          <span class="pro-info">
                              Watches
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Smart Watches With Heart Beat And ECG</a></h2>

                                <div class="pro-price">
                                    <ins>$755</ins>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product">
                        <article>
                            <div class="pro-icons mobile-pro-icons d-lg-none d-xl-none">
                                <a href="wishlist.html" class="icon active swipe-to-top">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                            </div>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_05.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images_demo_2/product_image_05.jpg" alt="Product Image"></span>
                                </a>
                                <div class="pro-buttons d-none d-lg-block d-xl-block">
                                    <div class="pro-icons">
                                        <a href="wishlist.html" class="icon active swipe-to-top">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                    </div>


                                    <a href="shop-page1.html" class="btn btn-secondary btn-block swipe-to-top">Add to Cart</a>
                                </div>

                            </div>
                            <div class="pro-description">
                          <span class="pro-info">
                              Home Applainces
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Branded Electric Steam Irons For Cloth</a></h2>

                                <div class="pro-price">
                                    <del>$120</del><ins>$85</ins>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product">
                        <article>
                            <div class="pro-icons mobile-pro-icons d-lg-none d-xl-none">
                                <a href="wishlist.html" class="icon active swipe-to-top">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                            </div>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_06.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images_demo_2/product_image_06_02.jpg" alt="Product Image"></span>
                                </a>
                                <div class="pro-buttons d-none d-lg-block d-xl-block">
                                    <div class="pro-icons">
                                        <a href="wishlist.html" class="icon active swipe-to-top">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                    </div>


                                    <a href="shop-page1.html" class="btn btn-secondary btn-block swipe-to-top">Add to Cart</a>
                                </div>
                                <div class="pro-tag bg-success">NEW</div>
                            </div>
                            <div class="pro-description">
                          <span class="pro-info">
                              Kitchen Applainces
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Mini Triangle Sandwich Maker For Delicious Sandwich</a></h2>

                                <div class="pro-price">
                                    <ins>$85</ins>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product">
                        <article>
                            <div class="pro-icons mobile-pro-icons d-lg-none d-xl-none">
                                <a href="wishlist.html" class="icon active swipe-to-top">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                            </div>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_07.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images_demo_2/product_image_07_02.jpg" alt="Product Image"></span>
                                </a>
                                <div class="pro-buttons d-none d-lg-block d-xl-block" >
                                    <div class="pro-icons">
                                        <a href="wishlist.html" class="icon active swipe-to-top">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                    </div>


                                    <a href="shop-page1.html" class="btn btn-secondary btn-block swipe-to-top">Add to Cart</a>
                                </div>
                                <div class="pro-tag">Sale</div>
                            </div>
                            <div class="pro-description">
                            <span class="pro-info">
                                Music and Video Games
                              </span>
                                <h2 class="pro-title"><a href="product-page1.html">Gaming Headset Deep Bass For Laptop </a></h2>

                                <div class="pro-price">
                                    <del>$120</del><ins>$80</ins>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="product">
                        <article>
                            <div class="pro-icons mobile-pro-icons d-lg-none d-xl-none">
                                <a href="wishlist.html" class="icon active swipe-to-top">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                    <i class="fas fa-eye"></i>
                                </div>
                                <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                            </div>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_08.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images_demo_2/product_image_08_02.jpg" alt="Product Image"></span>
                                </a>
                                <div class="pro-buttons d-none d-lg-block d-xl-block">
                                    <div class="pro-icons">
                                        <a href="wishlist.html" class="icon active swipe-to-top">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <div class="icon swipe-to-top" data-toggle="modal" data-target="#quickViewModal">
                                            <i class="fas fa-eye"></i>
                                        </div>
                                        <a href="compare.html" class="icon swipe-to-top"><i class="fas fa-align-right" data-fa-transform="rotate-90"></i></a>
                                    </div>


                                    <a href="shop-page1.html" class="btn btn-secondary btn-block swipe-to-top">Add to Cart</a>
                                </div>
                                <div class="pro-tag bg-success">NEW</div>
                            </div>
                            <div class="pro-description">
                            <span class="pro-info">
                                LCD
                              </span>
                                <h2 class="pro-title"><a href="product-page1.html">Slim LCD Touch Screen With High Quality Resolution</a></h2>

                                <div class="pro-price">
                                    <ins>$1100</ins>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<section class="pro-content pro-mini-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="pro-banner-text">
                    <div class="pro-banner-thumb">
                        <img class="img-fluid " src="images/categories/category_image_6.jpg" alt="Category Image">
                    </div>
                    <div class="pro-image-text">
                        <h4>Game<br>Accessories</h4>


                        <a href="#" class="btn btn-secondary swipe-to-top">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pro-banner-text">
                    <div class="pro-banner-thumb">
                        <img class="img-fluid " src="images/categories/category_image_3.jpg" alt="Category Image">
                    </div>
                    <div class="pro-image-text">
                        <h4>Multimedia<br>Devices</h4>


                        <a href="#" class="btn btn-secondary swipe-to-top">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pro-banner-text">
                    <div class="pro-banner-thumb">
                        <img class="img-fluid " src="images/categories/category_image_2.jpg" alt="Category Image">
                    </div>
                    <div class="pro-image-text">
                        <h4>Computers<br>Accessories</h4>


                        <a href="#" class="btn btn-secondary swipe-to-top">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pro-content pro-full-screen-banner">
    <img class="img-fluid" src="images/banners_demo_2/full_screen.jpg" alt="full screen banner">
    <div class="pro-full-screen-overlay">
        <div class="pro-full-screen">
            <div class="pro-heading-title">
                <h2> The Perfect Match
                </h2>
                <p>Vitae posuere urna blandit sed. Praesent ut dignissim risus.

                </p>
            </div>
            <button class="btn btn-secondary swipe-to-top">
                Shop Now
            </button>
        </div>
    </div>
</section>

<!-- Special Offer -->
<section class="pro-content pro-tr-content">
    <div class="container">
        <div class="products-area ">

            <div class="row justify-content-center">
                <div class="col-12 col-lg-12">
                    <div class="pro-heading-title">
                        <h2>Special Offers
                        </h2>
                        <p>Morbi venenatis felis tempus feugiat maximus.</p></div>
                </div>
            </div>


            <div class="tab-carousel-js row">
                <div class="col-6 col-md-4 col-lg-3 ">
                    <div class="product aos-init aos-animate ">
                        <article>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_01.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images/product_image_01_02.jpg" alt="Product Image"></span>
                                </a>


                                <div class="countdown pro-timer">
                                    <span class="days" ></span>
                                    <span class="hours" ></span>
                                    <span class="mintues" ></span>
                                    <span class="seconds" ></span>
                                </div>
                            </div>


                            <div class="pro-description">
                    <span class="pro-info">
                        Ring Collection
                      </span>
                                <h2 class="pro-title"><a href="product-page1.html">Austrian Crystals Jewelry Engagement Ring</a></h2>

                                <div class="pro-btns">
                                    <button type="button" class="btn btn-secondary swipe-to-top" onclick="notificationCart();">Add to Cart</button>
                                    <div class="pro-price">

                                        <ins>$285</ins>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product">
                        <article>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_02.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images/product_image_02_02.jpg" alt="Product Image"></span>
                                </a>


                                <div class="countdown pro-timer">
                                    <span class="days" ></span>
                                    <span class="hours" ></span>
                                    <span class="mintues" ></span>
                                    <span class="seconds" ></span>
                                </div>
                            </div>


                            <div class="pro-description">
                          <span class="pro-info">
                              Earrings
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Crystal Water Drop Wedding Earrings</a></h2>

                                <div class="pro-btns">
                                    <button type="button" class="btn btn-secondary  swipe-to-top" onclick="notificationCart();">Add to Cart</button>
                                    <div class="pro-price">

                                        <del>$450</del><ins>$285</ins>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product">
                        <article>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_03.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images/product_image_03_02.jpg" alt="Product Image"></span>
                                </a>


                                <div class="countdown pro-timer">
                                    <span class="days" ></span>
                                    <span class="hours" ></span>
                                    <span class="mintues" ></span>
                                    <span class="seconds" ></span>
                                </div>
                            </div>


                            <div class="pro-description">
                          <span class="pro-info">
                              Ring Collection
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Crytal Wedding Engagement Rings</a></h2>

                                <div class="pro-btns">
                                    <button type="button" class="btn btn-secondary  swipe-to-top" onclick="notificationCart();">Add to Cart</button>
                                    <div class="pro-price">

                                        <del>$120</del><ins>$85</ins>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product">
                        <article>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_04.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images/product_image_04_02.jpg" alt="Product Image"></span>
                                </a>


                                <div class="countdown pro-timer">
                                    <span class="days" ></span>
                                    <span class="hours" ></span>
                                    <span class="mintues" ></span>
                                    <span class="seconds" ></span>
                                </div>
                            </div>


                            <div class="pro-description">
                          <span class="pro-info">
                              Ring
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Women Zircon Crystal Engagement Ring</a></h2>

                                <div class="pro-btns">
                                    <button type="button" class="btn btn-secondary  swipe-to-top" onclick="notificationCart();">Add to Cart</button>
                                    <div class="pro-price">

                                        <del>$120</del><ins>$110</ins>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product">
                        <article>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_05.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images/product_image_05_02.jpg" alt="Product Image"></span>
                                </a>


                                <div class="countdown pro-timer">
                                    <span class="days" ></span>
                                    <span class="hours" ></span>
                                    <span class="mintues" ></span>
                                    <span class="seconds" ></span>
                                </div>
                            </div>


                            <div class="pro-description">
                          <span class="pro-info">
                              Bangle
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Viennois Rose Gold Circle Bangle for Wedding</a></h2>

                                <div class="pro-btns">
                                    <button type="button" class="btn btn-secondary swipe-to-top" onclick="notificationCart();">Add to Cart</button>
                                    <div class="pro-price">

                                        <del>$220</del><ins>$185</ins>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="product">
                        <article>
                            <div class="pro-thumb ">

                                <a href="product-page1.html">
                                    <span class="pro-image"><img class="img-fluid" src="images/product_images_demo_2/product_image_06.jpg" alt="Product Image"></span>
                                    <span class="pro-image-hover swipe-to-top"><img class="img-fluid" src="images/product_images/product_image_06_02.jpg" alt="Product Image"></span>
                                </a>

                                <div class="pro-tag">Sale</div>

                                <div class="countdown pro-timer">
                                    <span class="days" ></span>
                                    <span class="hours" ></span>
                                    <span class="mintues" ></span>
                                    <span class="seconds" ></span>
                                </div>
                            </div>


                            <div class="pro-description">
                          <span class="pro-info">
                              Bracelet
                            </span>
                                <h2 class="pro-title"><a href="product-page1.html">Bracelet for Women Metal Chain for Engagement</a></h2>

                                <div class="pro-btns">
                                    <button type="button" class="btn btn-secondary  swipe-to-top" onclick="notificationCart();">Add to Cart</button>
                                    <div class="pro-price">

                                        <del>$140</del><ins>$81</ins>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="pro-content pro-full-screen-banner">
    <img class="img-fluid" src="images/banners_demo_2/full_screen_2.jpg" alt="full screen banner">
    <div class="pro-full-screen-overlay">
        <div class="pro-full-screen">
            <div class="pro-heading-title">
                <h2> Technology Has No Boundary
                </h2>
                <p>Vitae posuere urna blandit sed. Praesent ut dignissim risus.

                </p>
            </div>
            <button class="btn btn-secondary swipe-to-top">
                Shop Now
            </button>
        </div>
    </div>
</section>

<!-- Categories -->
<div class="pro-content categories-content">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <div class="pro-heading-title">
                    <h1> Popular Categories
                    </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
            </div>
        </div>
        <!-- Categories -->
        <div class="tab-category-carousel-js row">
            <div class="col-6 col-md-3">
                <div class="pro-Categories">
                    <div class="pro-Categories-thumb swipe-to-top">

                        <div class="pro-Categories-title">
                            <a href="#">
                                Mobiles and Tablets
                            </a>
                        </div>

                        <img class="img-fluid " src="images/categories/category_image_1.jpg" alt="Category Image">

                    </div>
                    <div class="pro-Categories-detail">
                        <h2><a href="#">
                            Mobiles and Tablets
                        </a></h2>
                        <ul class="pro-Categories-meta">
                            <li><a href="#" tabindex="0">Apple </a></li>
                            <li><a href="#" tabindex="0">Samsung</a>
                            </li>
                            <li><a href="#" tabindex="0">PowerBank </a></li>
                            <li><a href="shop-page1.html" tabindex="0">See all categories</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="pro-Categories">
                    <div class="pro-Categories-thumb">

                        <div class="pro-Categories-title">
                            <a href="#">Computers & Accessories
                            </a>
                        </div>

                        <img class="img-fluid swipe-to-top" src="images/categories/category_image_2.jpg" alt="Category Image">

                    </div>
                    <div class="pro-Categories-detail">
                        <h2><a href="#">Computers & Accessories
                        </a></h2>
                        <ul class="pro-Categories-meta">
                            <li><a href="#" tabindex="0">Computers </a></li>
                            <li><a href="#" tabindex="0">Laptops</a>
                            </li>
                            <li><a href="#" tabindex="0">Monitors </a></li>
                            <li><a href="shop-page1.html" tabindex="0">See all categories</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="pro-Categories">
                    <div class="pro-Categories-thumb">

                        <div class="pro-Categories-title">
                            <a href="#">Cameras, Audio & Video
                            </a>
                        </div>

                        <img class="img-fluid swipe-to-top" src="images/categories/category_image_3.jpg" alt="Category Image">
                    </div>
                    <div class="pro-Categories-detail">
                        <h2><a href="#">Cameras, Audio & Video
                        </a></h2>
                        <ul class="pro-Categories-meta">
                            <li><a href="#" tabindex="0">Audio </a></li>
                            <li><a href="#" tabindex="0">Video</a>
                            </li>
                            <li><a href="#" tabindex="0">Headphones </a></li>
                            <li><a href="shop-page1.html" tabindex="0">See all categories</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="pro-Categories">
                    <div class="pro-Categories-thumb">

                        <div class="pro-Categories-title">
                            <a href="#">Home appliances
                            </a>
                        </div>

                        <img class="img-fluid swipe-to-top" src="images/categories/category_image_4.jpg" alt="Category Image">

                    </div>
                    <div class="pro-Categories-detail">
                        <h2><a href="#">Home appliances
                        </a></h2>
                        <ul class="pro-Categories-meta">
                            <li><a href="#" tabindex="0">TV Accessories</a>
                            </li>
                            <li><a href="#" tabindex="0">Air Conditioner </a></li>
                            <li><a href="#" tabindex="0">Dryer </a></li>
                            <li><a href="shop-page1.html" tabindex="0">See all categories</a></li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="col-6 col-md-3">
                <div class="pro-Categories">
                    <div class="pro-Categories-thumb">

                        <div class="pro-Categories-title">
                            <a href="#">Kitchen Appliances
                            </a>
                        </div>

                        <img class="img-fluid swipe-to-top" src="images/categories/category_image_5.jpg" alt="Category Image">

                    </div>
                    <div class="pro-Categories-detail">
                        <h2><a href="#">Kitchen Appliances
                        </a></h2>
                        <ul class="pro-Categories-meta">
                            <li><a href="#" tabindex="0">Bakeware</a></li>
                            <li><a href="#" tabindex="0">Cookware</a>
                            </li>
                            <li><a href="#" tabindex="0">Gas Stoves</a></li>
                            <li><a href="shop-page1.html" tabindex="0">See all categories</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="pro-Categories">
                    <div class="pro-Categories-thumb">

                        <div class="pro-Categories-title">
                            <a href="#">Music and video games
                            </a>
                        </div>

                        <img class="img-fluid swipe-to-top" src="images/categories/category_image_6.jpg" alt="Category Image">

                    </div>
                    <div class="pro-Categories-detail">
                        <h2><a href="#">Music and video games
                        </a></h2>
                        <ul class="pro-Categories-meta">
                            <li><a href="#" tabindex="0">TV & Video Devices </a></li>
                            <li><a href="#" tabindex="0">TV Accessories</a>
                            </li>
                            <li><a href="#" tabindex="0">Air Conditioner </a></li>
                            <li><a href="shop-page1.html"  tabindex="0">See all categories</a></li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- Product Modal -->
<div class="modal fade" id="quickViewModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="row ">
                                <div id="quickViewCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- The slideshow -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">

                                            <img class="img-fluid" src="images/gallery_demo_2/preview/Product_image_01.jpg" alt="image">
                                        </div>
                                        <div class="carousel-item">

                                            <img class="img-fluid" src="images/gallery_demo_2/preview/Product_image_02.jpg" alt="image">
                                        </div>
                                        <div class="carousel-item">

                                            <img class="img-fluid" src="images/gallery_demo_2/preview/Product_image_03.jpg" alt="image">
                                        </div>
                                        <div class="carousel-item">

                                            <img class="img-fluid" src="images/gallery_demo_2/preview/Product_image_04.jpg" alt="image">
                                        </div>
                                    </div>
                                    <!-- Left and right controls -->
                                    <a class="carousel-control-prev" href="#quickViewCarousel" data-slide="prev">
                                        <span class="fas fa-angle-left "></span>
                                    </a>
                                    <a class="carousel-control-next" href="#quickViewCarousel" data-slide="next">
                                        <span class="fas fa-angle-right "></span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="pro-description">
                                <h2 class="pro-title">Teclast X22 Air LCD Screen </h2>

                                <div class="pro-price">
                                    <ins>$1100</ins>
                                </div>

                                <div class="pro-infos">
                                    <div class="pro-single-info"><b>Product ID :</b>1004</div>
                                    <div class="pro-single-info"><b>Categroy :</b><a href="#">Slim LCD Touch Screen</a></div>
                                    <div class="pro-single-info">
                                        <b>Tags :</b>
                                        <ul>
                                            <li><a href="#">LCD</a></li>
                                            <li><a href="#">Monitor</a></li>
                                            <li><a href="#">Accessories</a></li>
                                        </ul>
                                    </div>
                                    <div class="pro-single-info"><b>Available :</b><span class="text-secondary">InStock</span></div>
                                </div>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor.
                                </p>
                                <div class="pro-counter">
                                    <div class="input-group item-quantity">

                                        <input type="text" id="quantity1" name="quantity" class="form-control quantity " value="10">

                                        <span class="input-group-btn">
                                          <button type="button" value="quantity1" class="quantity-plus btn" data-type="plus" data-field="">
                                              <i class="fas fa-plus"></i>
                                          </button>

                                          <button type="button" value="quantity1" class="quantity-minus btn" data-type="minus" data-field="">
                                              <i class="fas fa-minus"></i>
                                          </button>
                                      </span>
                                    </div>
                                    <button type="button" class="btn btn-secondary btn-lg swipe-to-top" onclick="notificationCart();">Add to Cart</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Footer Mobile -->
<footer id="footerMobile" class="footer-area footer-mobile d-lg-none d-xl-none">

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="single-footer">

                    <div class="pro-about">
                        <a href=""  data-toggle="collapse" data-target="#collapseFooter" aria-expanded="false" aria-controls="collapseFooter">Store</a>
                        <div class="collapse" id="collapseFooter">
                            <div class="card card-body">
                                <ul class="pl-0 mb-0">
                                    <li><a href="index.html">
                                        <img src="images/logo/logo.png" alt="logo here">
                                    </a></li>
                                    <li> <span>1223, Main Street, Anytown New York, 38000 USA</span> </li>
                                    <li><span>888 - 963 - 600</span><span><a href="#">info@example.com</a> </span> </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">

                <div class="single-footer">
                    <a href=""  data-toggle="collapse" data-target="#collapseFooterOne" aria-expanded="false" aria-controls="collapseFooterOne">Info</a>
                    <div class="collapse" id="collapseFooterOne">
                        <div class="card card-body">
                            <ul class="pl-0 mb-0">
                                <li> <a href="index.html">Home</a> </li>
                                <li> <a href="blog-page1.html">Blog</a> </li>
                                <li> <a href="about-page1.html">About Us</a> </li>
                                <li> <a href="contact-page1.html">Contact Us</a> </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="single-footer">
                    <a href=""  data-toggle="collapse" data-target="#collapseFooterTwo" aria-expanded="false" aria-controls="collapseFooterTwo">Our Polices</a>
                    <div class="collapse" id="collapseFooterTwo">
                        <div class="card card-body">
                            <ul class="pl-0 mb-0">
                                <li> <a href="#">FAQs</a> </li>
                                <li> <a href="privacy.html">Privacy Policy</a> </li>
                                <li> <a href="refund.html">Refund Policy</a> </li>
                                <li> <a href="term.html">Terms of Service</a> </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="single-footer">
                    <a href=""  data-toggle="collapse" data-target="#collapseFooterThree" aria-expanded="false" aria-controls="collapseFooterThree">My Account</a>
                    <div class="collapse" id="collapseFooterThree">
                        <div class="card card-body">
                            <ul class="pl-0 mb-0">

                                <li> <a href="shop-page1.html">Shop</a> </li>
                                <li> <a href="orders.html">Orders</a> </li>
                                <li> <a href="cart-page1.html">Shopping Cart</a> </li>
                                <li> <a href="wishlist.html">Wishlist</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="single-footer">
                    <div class="pro-newsletter">
                        <h5>Newsletter</h5>

                        <form class="form-inline">
                            <div class="search">
                                <input  type="search" placeholder="Your Email ...">

                                <button type="button" class="btn btn-secondary">
                                    <i class="fas fa-location-arrow"></i>
                                </button>
                            </div>

                        </form>
                        <p>By entering your email, you agree to our Terms of Service and Privacy Policy.</p>
                    </div>

                    <div class="pro-socials">
                        <h5>Follow Us</h5>
                        <ul>
                            <li><a href="#" class="fab fb fa-facebook-square"></a></li>
                            <li><a href="#" class="fab tw fa-twitter-square"></a></li>
                            <li><a href="#" class="fab sk fa-skype"></a></li>
                            <li><a href="#" class="fab ln fa-linkedin"></a></li>
                            <li><a href="#" class="fab ig fa-instagram"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="copyright-content">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12 col-sm-12">
                        <div class="footer-info">
                            &copy;&nbsp;2019 Company, Inc. <a href="privacy.html">Privacy</a>&nbsp;&bull;&nbsp;<a href="term.html">Terms</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>

{{> default-footer }}
<div class="mobile-overlay"></div>
<a href="#" id="back-to-top" class="swipe-to-top" title="Back to top">&uarr;</a>


<div class="alert alert-warning alert-dismissible alert-cookie fade show" role="alert">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 col-lg-9">
                <div class="pro-description">
                    This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies. Review our <a href="#" class="btn-link">cookies information</a> for more details.
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <button type="button" class="btn btn-secondary swipe-to-top" data-dismiss="alert" aria-label="Close">
                    OK, I agree
                </button>
            </div>
        </div>
    </div>
</div>


{{> javascript }}

</body>
</html>