<!doctype html>
<html lang="en">
<head>
    {{#if (title_is_home title)}}
        <title> BookStack </title>
    {{else}}
        <title> BookStack | {{ title }}</title>
    {{/if}}
    {{> css }}
</head>

<body>
    {{> navbar_selector}}
    {{{ body }}}
    {{> javascript }}

    {{> default_footer}}

</body>



</html>