<!doctype html>
<html lang="en">
<head>
    {{> google_analytics_tracking_js_code }}
    {{#if (equal_strings 'Home' title)}}
        <title> BookStack </title>
    {{else}}
        <title> BookStack | {{ title }}</title>
    {{/if}}
    {{> css }}

</head>

<body>
    {{> navbar_selector}}
    {{{ body }}}
    {{> javascript }}

    {{> default_footer}}

</body>



</html>