




<section class="pro-content page-content">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    Tips for uploading books to BookStack
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12">

                <p class="text-wrap">
                    <br>



                <h5>1. Upload Pictures</h5>
                <p>You are not required to upload pictures but people will be more likely to buy a book that have images. We recommend uploading an image of the front, the back, the barcode(where the ISBN is located), and any damages/wear-and-tear the book might
                    have.</p>
                <p>For example,</p>
                <div class="imagetips">
                    <img width="20%" src="/images/tip_images/frontcover.jpg" />
                    <img width="20%" src="/images/tip_images/backcover.jpg" />
                    <img width="20%" src="/images/tip_images/barcode.jpg" />
                </div>
                <p style="font-size: 11px"><a href="/uploadpics" target="_blank">How do I upload multiple pictures?</a></p>
                <h5>2. Easily searchable title</h5>
                <p>To make your book easier to find, we recommend matching the title as closely as possible</p>
                <h5>3. Details in description</h5>
                <p>This would be the area to include details such as
                <ul>
                    <li><p>Any bent or missing pages</p></li>
                    <li><p>Writing or water damage</p></li>
                    <li><p>Original price</p></li>
                    <li><p>Class used for</p></li>
                    <li><p>Any details you consider important to include</p></li>
                </ul>
                </p>

            </p>


        </div>


    </div>

    </div>
    </div>
</section>


