
<div class="container d-flex justify-content-center mt-5">
    <div class="chat-wrapper row">

        <div class="message-container col-5 col-md-4">

            <div class="message-header row">
                <div class="col-9 col-lg-10">
                    <h4>Messages</h4>
                </div>

            </div>

            <div class="message-search-container row">
                <i class="fa fa-search col-2"></i>
                <input class="message-search col-9 pl-0" type="text" placeholder="Search People"/>
            </div>



            <!--***************************************-->
            <!--Section for people icons and data START-->
            <!--***************************************-->
            <div class="people-select-container row">

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/UCD%20Job%20Fair.jpg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Noah Tarr</h5>

                        </div>

                    </div>
                </div>

                <div class="person-container active row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Juan Rios</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Physics for Scientists and Engineers</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Samara Yarnes</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Comparative Politics</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">AvgName 15 Char</h5>
                            <img class="col-2" src="images/icons/sell%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book Short Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Longer then Avg Name Ln</h5>
                            <img class="col-2" src="images/icons/sell%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with a Long Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Average Name Ln</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with Long Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Average Name Ln</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with Long Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Average Name Ln</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with Long Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Average Name Ln</h5>
                            <img class="col-2" src="images/icons/sell%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with Long Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Average Name Ln</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with Long Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Average Name Ln</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with Long Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Average Name Ln</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with Long Name</h6>
                        </div>
                    </div>
                </div>

                <div class="person-container row no-gutters">
                    <div class="person-icon-container col-2">
                        <div class="person-icon">
                            <img src="images/icons/person%20icon.svg"/>
                        </div>
                    </div>
                    <div class="person-info col-10">
                        <div class="person-name-and-icon row">
                            <h5 class="col-10">Average Name Ln</h5>
                            <img class="col-2" src="images/icons/buy%20arrow.svg"/>
                        </div>
                        <div class="book-name row">
                            <h6 class="col-12">Temp Book with Long Name</h6>
                        </div>
                    </div>
                </div>

            </div>
            <!--***************************************-->
            <!--Section for people icons and data END-->
            <!--***************************************-->

        </div>

        <div class="chat-container col-7  col-md-8">
            <div class="chat-header row">
                <div class="chat-person-book-info col-10 col-xl-11">
                    <div class="row">
                        <h4 class="col">Juan Rios</h4>
                    </div>
                    <div class="chat-book-info row">

                    </div>
                </div>

            </div>

            <div class="chat-messages-container row"></div>

            <div class="chat-new-container row">
                <form class="chat-input col-10">
                    <input class="" type="text" placeholder="Type a message.."/>
                </form>
                <div class="chat-message-attach col-2">
                    <a href="#">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

