






<section class="pro-content page-content">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    Questions, advice or just want to say hi?
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12">

                <p class="text-wrap">
                    <br>



                <p><strong>Have any advice for BookStack?(new book genre, different format, etc.)</strong> </p>
                <p style="color: black"><strong>Shoot us an email at <a style="color: darkblue" href="mailto:teambookstackucla@gmail.com">teambookstackucla@gmail.com</a>!</strong></p>




                </p>


            </div>


        </div>

    </div>
    </div>
</section>