{{#each messagesWith}}

    <p>{{ this.thePenPal }}</p>

        <form class="btn btn-link" action="/chat" method="post">
            <input name="bookOwner" type="text" value="{{ this.thePenPal }}" hidden>
            <button type="submit" class="btn btn-link"><i class="fa fa-comment"></i>Send Message</button>
        </form>




{{/each}}


