{{#each myPenPals}}
{{#each this}}
    <p>{{ penpalFirstName }}</p>

        <form class="btn btn-link" action="/chat" method="post">
            <input name="bookOwner" type="text" value="{{ penpalUserId }}" hidden>
            <button type="submit" class="btn btn-link"><i class="fa fa-comment"></i>Send Message</button>
        </form>
    <hr>


{{/each}}

{{/each}}


