<div class="homepage-hero-module">
    <div class="video-container">
        <div id="video"></div>
        <div class="homepage-hero-content">
            <h4 class="customFadeInUp">There was an error!</h4>
            <p class="customFadeInUp">{{message}}. Error code: {{error_code}}</p>
        </div>
    </div>
</div>