
gi









<section class="pro-content page-content">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    How to find ISBN
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12">

                <p class="text-wrap">
                    <br>



                <h5>What is an ISBN?</h5>
                <p>ISBN is the acronym for International Standard Book Number. This 10 or 13-digit number identifies a specific book, an edition of a book, or a book-like product (such as an audiobook). Since 1970 each published book has a unique ISBN. In 2007,
                    assigned ISBNs changed from 10 digits to 13. ISBNs are useful when looking for a specific printing of a book. A student, for example, can search by ISBN to find the correct edition of a textbook for school.</p>
                <h5>Finding the ISBN number on a book</h5>
                <p>On most books, the ISBN number can be found on the back cover, next to the barcode. If a book doesn't show the ISBN on the back cover, look on the page featuring the copyright and publisher information and the ISBN will be found there.</p><img
                    src="/images/tip_images/isbn-location.png" /></div>



                </p>


            </div>


        </div>

    </div>
    </div>
</section>