


<section class="pro-content page-content">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    Uploading Images with iPhone on iOS 11+
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12">

                <p class="text-wrap">
                    <br>



                <p>Apple started using the HEIC image format with iOS 11. This HEIC format can cause compatability problems for some apps. Here’s how to easily switch from HEIC to JPG if you are experiencing these issues.</p>



                <p>Switching from HEIC to JPG will not convert your existing library of photos on your iPhone. Only photos that you will shoot after the switchover will be affected. Same goes for videos.</p>

                <div class="HEICsettings">

                    <img width="20%" class="col-md-3 col-sm-12" src="/images/tip_images/HEICsettings1_dark.png" />
                    <img width="20%" class="col-md-3 col-sm-12" src="/images/tip_images/HEICsettings2_dark.png" />
                    <img width="20%" class="col-md-3 col-sm-12" src="/images/tip_images/HEICsettings3_dark.png" />

                </div>
                <p>That's it! Your iPhone will now shoot photos in the JPG format directly. You can always change formats at any time by visiting the Settings app.</p>

                </p>


            </div>


        </div>

    </div>
    </div>
</section>