<div class="pricing-header">
    <section class="container">
        <h3 class="customFadeInUp">BookStack: A place to connect students who want to buy and sell textbooks to one another</h3>
    </section>
</div>
<div class="pricing-features">
    <div class="container">
        <section class="features">
            <div class="row">
                <div class="col-md-6 feature"><img class="icon" src="images/icons/features-icon-ok.png" />
                    <section>
                        <h4>Is BookStack free to use?</h4>
                        <p>BookStack is 100% free of charge</p>
                    </section>
                </div>
                <div class="col-md-6 feature"><img class="icon" src="images/icons/features-icon-canvas.png" />
                    <section>
                        <h4>How do I pay the seller?</h4>
                        <p>We do not support payment through BookStack yet, as a result you would simply meet the seller and pay them in whichever way is agreed upon.</p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 feature"><img class="icon" src="images/icons/features-icon-world.png" />
                    <section>
                        <h4>Who can see my book?</h4>
                        <p>Anyone who accesses BookStack has the ability to see your book, but they cannot see who is selling it until they send you a message.</p>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>