<!-- Revolution Layer Slider -->
<div class="carousel-content carousel-content-home-page-2">
    <div class="container-fuild">
        <div id="rev_slider_1077_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="scroll-effect136" data-source="gallery" style="padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
            <div id="rev_slider_1077_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                <ul >
                    <!-- SLIDE  -->
                    <li data-index="rs-3042" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Big &amp; Bold" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/images/carousel/carousel1-tint.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="container" style="position: relative;">

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption BigBold-SubTitle  "
                                 id="slide-3043-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['14','14','14','15']"
                                 data-y="['top','top','top','top']" data-voffset="['110','90','60','40']"
                                 data-fontsize="['18','18','18','14']"
                                 data-lineheight="['18','18','18','16']"
                                 data-width="['580','580','100%','100%']"
                                 data-height="none"
                                 data-whitespace="normal"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 12;  white-space: normal; color:#fff; ">Throw your textbooks in the BookStack</div>

                            <!-- LAYER NR. 2 -->

                            <div class="tp-caption BigBold-Title   tp-resizeme"
                                 id="slide-3043-layer-1"
                                 data-x="['left','left','left','left']" data-hoffset="['13','13','13','14']"
                                 data-y="['top','top','top','top']" data-voffset="['140','120','90','70']"
                                 data-fontsize="['50','40','30','24']"
                                 data-lineheight="['70','50','40','30']"
                                 data-width="['580','580','100%','100%']"
                                 data-height="none"
                                 data-whitespace="['nowrap','nowrap','nowrap','normal']"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 11; white-space: nowrap; color:#fff; ">Let Other UCLA<br> Students Find You</div>



                            {{#if (user_is_logged_in currentUser) }}

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                     id="slide-3043-layer-3"
                                     data-x="['left','left','left','left']" data-hoffset="['14','16','16','15']"
                                     data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                     data-width="['150','150','150','150']"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="button"
                                     data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"/profile/uploadbook"}]'
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[28,28,28,28]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[28,28,28,28]"

                                     style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Upload</div>


                            {{else}}

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                     id="slide-3043-layer-3"
                                     data-x="['left','left','left','left']" data-hoffset="['14','16','16','15']"
                                     data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                     data-width="['150','150','150','150']"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="button"
                                     data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"/signup"}]'
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[28,28,28,28]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[28,28,28,28]"

                                     style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Sign up</div>


                            {{/if}}



                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3043" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="NEW ELEGENCE" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/images/carousel/carousel2-tint.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="container" style="position: relative;">

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption BigBold-SubTitle  "
                                 id="slide-3043-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['110','90','60','40']"
                                 data-fontsize="['18','18','18','14']"
                                 data-lineheight="['18','18','18','16']"
                                 data-width="['100%','100%','100%','100%']"
                                 data-height="none"
                                 data-whitespace="normal"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 12;  white-space: normal; color:#fff; ">Search a Collection</div>

                            <!-- LAYER NR. 5 -->

                            <div class="tp-caption BigBold-Title   tp-resizeme"
                                 id="slide-3043-layer-1"
                                 data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['140','120','90','70']"
                                 data-fontsize="['50','40','30','24']"
                                 data-lineheight="['70','50','40','30']"
                                 data-width="['100%','100%','100%','100%']"
                                 data-height="none"
                                 data-whitespace="['nowrap','nowrap','nowrap','normal']"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 11; white-space: nowrap; color:#fff; "> Search Through a Collection <br> of UCLA Students' posts</div>

                            {{#if (user_is_logged_in currentUser) }}




                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                     id="slide-3043-layer-3"
                                     data-x="['left','center','left','left'] " data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                     data-width="['150','150','150','150']"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="button"
                                     data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"/search?query="}]'
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[28,28,28,28]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[28,28,28,28]"

                                     style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Search</div>

                            {{else}}

                                <!-- LAYER NR. 6 -->
                                <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                     id="slide-3043-layer-3"
                                     data-x="['left','center','left','left'] " data-hoffset="['0','0','0','0']"
                                     data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                     data-width="['150','150','150','150']"
                                     data-height="none"
                                     data-whitespace="nowrap"

                                     data-type="button"
                                     data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"/signup"}]'
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[12,12,12,12]"
                                     data-paddingright="[28,28,28,28]"
                                     data-paddingbottom="[12,12,12,12]"
                                     data-paddingleft="[28,28,28,28]"

                                     style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Sign Up</div>



                            {{/if}}
                            </div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3044" data-transition="slideoverhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Beauty Here" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/images/carousel/carousel3-tint.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <div class="container" style="position: relative;">

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption BigBold-SubTitle  "
                                 id="slide-3043-layer-2"
                                 data-x="['left','left','left','left']" data-hoffset="['603','480','200','20']"
                                 data-y="['top','top','top','top']" data-voffset="['110','90','60','40']"
                                 data-fontsize="['18','18','18','14']"
                                 data-lineheight="['18','18','18','16']"
                                 data-width="['580','580','100%','100%']"
                                 data-height="none"
                                 data-whitespace="normal"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 12;  white-space: normal; color:#fff; ">Save Money</div>

                            <!-- LAYER NR. 8 -->

                            <div class="tp-caption BigBold-Title   tp-resizeme"
                                 id="slide-3043-layer-1"
                                 data-x="['left','left','left','left']" data-hoffset="['602','480','200','20']"
                                 data-y="['top','top','top','top']" data-voffset="['140','120','90','70']"
                                 data-fontsize="['50','40','30','24']"
                                 data-lineheight="['70','50','40','30']"
                                 data-width="['580','580','100%','100%']"
                                 data-height="none"
                                 data-whitespace="['nowrap','nowrap','nowrap','normal']"

                                 data-type="text"
                                 data-basealign="slide"
                                 data-responsive_offset="off"

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 11; white-space: nowrap; color:#fff; "> Buy Directly From<br> UCLA Students
                            </div>

                            {{#if (user_is_logged_in currentUser)}}

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                 id="slide-3043-layer-3"
                                 data-x="['left','left','left','left']" data-hoffset="['603','480','200','20']"
                                 data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                 data-width="['150','150','150','150']"
                                 data-height="none"
                                 data-whitespace="nowrap"

                                 data-type="button"
                                 data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"/search?query="}]'
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['center','center','center','center']"
                                 data-paddingtop="[12,12,12,12]"
                                 data-paddingright="[28,28,28,28]"
                                 data-paddingbottom="[12,12,12,12]"
                                 data-paddingleft="[28,28,28,28]"

                                 style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Search</div>

                            {{else}}
                                    <!-- LAYER NR. 9 -->
                                    <div class="tp-caption BigBold-Button rev-btn swipe-to-top"
                                         id="slide-3043-layer-3"
                                         data-x="['left','left','left','left']" data-hoffset="['603','480','200','20']"
                                         data-y="['top','top','top','top']" data-voffset="['300','250','200','150']"
                                         data-width="['150','150','150','150']"
                                         data-height="none"
                                         data-whitespace="nowrap"

                                         data-type="button"
                                         data-actions='[{"event":"click","action":"simplelink","target": "_self","url":"/signup"}]'
                                         data-basealign="slide"
                                         data-responsive_offset="off"
                                         data-responsive="off"
                                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":650,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                         data-textAlign="['center','center','center','center']"
                                         data-paddingtop="[12,12,12,12]"
                                         data-paddingright="[28,28,28,28]"
                                         data-paddingbottom="[12,12,12,12]"
                                         data-paddingleft="[28,28,28,28]"

                                         style="z-index: 13; text-transform: uppercase; white-space: nowrap;outline:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; line-height: 1.5;">Sign Up</div>
                                {{/if}}





                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</div>


<section class="info-boxes-content">
    <div class="container-fuild">
        <div class="info-box-full bg-info-boxes-content">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-3 pl-xl-0">
                    <div class="info-box">
                        <i class="fas fa-dollar-sign"></i>
                        <div class="block">
                            <h4 class="title">Free To use</h4>
                            <p>There is no cost for using BookStack</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-3 pl-xl-0">
                    <div class="info-box">
                        <i class="fas fa-life-ring"></i>
                        <div class="block">
                            <h4 class="title">Support</h4>
                            <p>Contact us with issues and we will try our best to resolve them</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 pl-xl-0">
                    <div class="info-box">
                        <i class="fas fa-comments"></i>
                        <div class="block">
                            <h4 class="title">Messaging</h4>
                            <p>Set up a public place to meet, and pay each other directly</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 pl-xl-0">
                    <div class="info-box last">
                        <i class="fas fa-globe"></i>
                        <div class="block">
                            <h4 class="title">Visibility</h4>
                            <p>Anyone on BookStack can see your post, but can't see who's selling it until they message you</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
