







<section class="pro-content page-content">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    How to upload multiple pictures
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12">

                <p class="text-wrap">
                    <br>



                <h5>On mobile</h5>
                <p>To upload multiple images on a mobile device, it is recommended to take horizontal pictures on the regular device camera before uploading them to BookStack and then select them from camera roll once ready.</p>
                <h5>On computer</h5>
                <p>To upload multiple images on a computer, you can select multiple files by holding 'command' on Mac, and 'control' on PC.</p>

                </p>


        </div>


    </div>

    </div>
    </div>
</section>