<div class="blog-post">
    <div class="container">
        <h3 class="blog-post-title">How to upload multiple pictures</h3>
        <div class="blog-post-content">
            <h5>On mobile</h5>
            <p>To upload multiple images on a mobile device, it is recommended to take horizontal pictures on the regular device camera before uploading them to BookStack and then select them from camera roll once ready.</p>
            <h5>On computer</h5>
            <p>To upload multiple images on a computer, you can select multiple files by holding 'command' on Mac, and 'control' on PC.</p>
        </div>
    </div>
</div>