D


<section class="pro-content page-content">
    <div class="container">
        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    Terms and Conditions
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12">

                <p class="text-wrap">
                    <br>






                <h4>1. Terms</h4>
                <p>By accessing the website at <a href="http://uclabookstack.com">https://uclabookstack.com</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with
                    any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.</p>



                <h4>2. Use License</h4>
                <ol type="a">
                    <li><p>Permission is granted to post personal textbook details on BookStack to display to other BookStack members. Under this license you may not:</p> </li>
                    <ol type="i">
                        <li><p>Post anything other than school material for students;</p></li>
                        <li><p>Falsely advertise content or post anything depicting something other than the Book Described;</p></li>
                        <li><p>Harass BookStack members or post explicit content;</p></li>
                        <li><p>Attempt to decompile or reverse engineer software on BookStack's website;</p></li>
                    </ol>
                    </li>
                    <li><p>This license shall automatically terminate if you violate any of these restrictions and may be terminated by BookStack at any time.</p></li>
                </ol>


                <h4>3. Disclaimer</h4>
                <ol type="a">
                    <li><p>The materials on BookStack's website are provided on an 'as is' basis. BookStack makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions
                        of merchantability, or non-infringement of intellectual property or other violation of rights.</p></li>
                    <li><p>Further, BookStack does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p></li>
                    <li><p>BookStack is not affiliated with the University of California, Los Angeles.</p></li>
                </ol>

                <h4>4. Limitations</h4>
                <p>In no event shall BookStack be liable for any damages (including, without limitation, damages to BookStack members when meeting in person, for loss of profit, or due to business interruption) arising out of the use or inability to use
                    the materials on BookStack's website, even if BookStack or a BookStack authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied
                    warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

                <h4>5. Accuracy of materials</h4>
                <p>The materials appearing on BookStack's website could include typographical, or photographic errors. BookStack does not warrant that any of the materials on its website are accurate, complete or current. BookStack may make changes to the
                    materials(including material posted by its users) contained on its website at any time without notice. However BookStack does not make any commitment to update the materials.</p>

                <h4>6. Links </h4>
                <p>BookStack has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by BookStack of the site. Use of any such linked website
                    is at the user's own risk.</p>

                <h4>7. Modifications </h4>
                <p>BookStack may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>

                <h4>8. Governing Law</h4>
                <p>These terms and conditions are governed by and construed in accordance with the laws of California and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

                </p>


            </div>


        </div>

    </div>
    </div>
</section>