html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto; }

#searchbar input {
  margin-right: 20px;
  margin-bottom: 20px; }

#nextPageButton {
  float: right; }

#previousPageButton {
  float: left; }

.imagetips img {
  margin-right: 5%; }

.title .by {
  font-size: 15px; }

/*////////////////////////////////////////////////////////////////////////////////////////////
Profile page CSS
////////////////////////////////////////////////////////////////////////////////////////////*/
hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

img {
  border: 0; }

button {
  margin: 0;
  font-family: inherit;
  font-size: 100%; }

button {
  line-height: normal; }

button {
  text-transform: none; }

button {
  cursor: pointer;
  -webkit-appearance: button; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after {
    content: ""; }
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 2cm .5cm; }
  h2 {
    orphans: 3;
    widows: 3; }
  h2 {
    page-break-after: avoid; } }

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

/*button {*/
/*    background-image: none*/
/*}*/
a {
  color: #428bca;
  text-decoration: none; }

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline; }

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 70%; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

h2,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1; }

h2 {
  margin-top: 20px;
  margin-bottom: 10px; }

h4 {
  margin-top: 10px;
  margin-bottom: 10px; }

h2 {
  font-size: 30px; }

ul {
  margin-top: 0;
  margin-bottom: 10px; }

.col-xs-12,
.col-sm-6,
.col-md-4,
.col-md-6,
.col-md-8,
.col-lg-4,
.col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-12 {
  width: 100%; }

.collapse {
  display: none; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../dist/fonts/glyphicons-halflings-regular.eot");
  src: url("../dist/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1; }

.glyphicon-envelope:before {
  content: "\2709"; }

.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.panel-body {
  padding: 15px; }

.panel-body:before,
.panel-body:after {
  display: table;
  content: " "; }

.panel-body:after {
  clear: both; }

.panel-body:before,
.panel-body:after {
  display: table;
  content: " "; }

.panel-body:after {
  clear: both; }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

.panel-defaultprofile {
  border-color: #ddd; }

.panel-defaultprofile > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd; }

@-ms-viewport {
  width: device-width; }

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px; } }

@media (min-width: 1200px) {
  .usercontainer {
    max-width: 1170px; }
  .col-lg-4,
  .col-lg-8 {
    float: left; }
  .col-lg-4 {
    width: 33.33333333333333%; }
  .col-lg-8 {
    width: 66.66666666666666%; } }

@media (min-width: 768px) {
  .usercontainer {
    max-width: 750px; }
  .col-sm-6 {
    width: 50%; } }

.usercontainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.usercontainer:before,
.usercontainer:after {
  display: table;
  content: " "; }

.usercontainer:after {
  clear: both; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  border: 1px solid transparent; }

#formfilt {
  display: none;
  margin-left: 100%; }

.hideBulletInUL {
  list-style-type: none; }

.search_submit_button {
  border-radius: 4px;
  padding: 3px 5px;
  background-color: transparent;
  margin: 0px; }

#signupButton {
  background-color: #2774AE;
  color: white; }

/*Found in mobile footer*/
.my-footer-element {
  color: black; }

.HEICsettings {
  margin: 50px; }

.HEICsettings img {
  margin: 5px; }

label {
  display: inline; }

input[type=checkbox] {
  display: inline; }

.book-container {
  width: 200px;
  height: 270px; }

.warning-pop-up {
  background-color: red;
  color: "white";
  padding: 1em 0; }

.header-text {
  font-size: large; }

/*# sourceMappingURL=index.css.map */