<form method="POST" action="/forgot">
    <div class="form-field"><input type="email" placeholder="Your Email" name="email" /></div>
    <div class="form-action"><input class="btn-shadow btn-shadow-primary" type="submit" value="Reset password" /></div>
    <div class="form-bottom"><a href="/signin">Back to Log in</a></div>
</form>