
<!-- login Content -->
<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
            </ol>
        </div>
    </nav>
</div>

<section class="pro-content login-content center-content-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="pro-heading-title">
                <h1>
                    Change Password
                </h1>
            </div>
        </div>

        <div class="row justify-content-center">


            <div class="col-12 col-sm-12 col-md-8 col-lg-5 mb-5 px-0">


                <div class="tab-content" id="registerTabContent">
                    <div class="tab-pane active" >
                        <div class="registration-process">
                            <form method="post" action="/forgot">
                                <div class="from-group mb-4">

                                    <div class="input-group col-12">

                                        <input required autocomplete="off" type="email" name="email" class="form-control" id="inlineFormInputGroup3" placeholder="Enter Your Email">

                                    </div>
                                </div>


                                <div class="col-12 col-sm-12">
                                    <button type="submit" class="btn btn-secondary swipe-to-top">Reset Password</button>
                                </div>

                            </form>
                        </div>

                    </div>


                </div>
            </div>

        </div>


    </div>
</section>









