<form method="POST" action="/reset">
    <div class="form-field">
        <input type="hidden" value="{{ token }}" name="token"/>
        <input type="hidden" value="{{ url }}" name="url"/>
    </div>
    <div class="form-field">
        <input type="password" placeholder="New Password" minlength="6" name="password"/>
    </div>
    <div class="form-field">
        <input type="password" placeholder="Confirm Password" minlength="6" name="confirmpassword"/>
    </div>
    <div class="form-action">
        <input class="btn-shadow btn-shadow-primary" type="submit" value="Reset Password"/>
    </div>
</form>