<!-- login Content -->
<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </div>
    </nav>
</div>




<section class="pro-content login-content center-content-page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="pro-heading-title">
                <h1>
                    Change Password
                </h1>
            </div>
        </div>

        <div class="row justify-content-center">


            <div class="col-12 col-sm-12 col-md-8 col-lg-5 mb-5 px-0">


                <div class="tab-content" id="registerTabContent">
                    <div class="tab-pane active" >
                        <div class="registration-process">
                            <form method="post" action="/reset">
                                <input type="hidden" value="{{ token }}" name="token"/>
                                <input type="hidden" value="{{ url }}" name="url"/>

                                <div class="from-group mb-4">

                                    <div class="input-group col-12">

                                        <input minlength="6" autocomplete="off" name="password" type="password" class="form-control" id="inlineFormInputGroup3" placeholder="New Password">
                                    </div>
                                </div>
                                <div class="from-group mb-4">

                                    <div class="input-group col-12">

                                        <input minlength="6" autocomplete="off" name="confirmpassword" type="password" class="form-control" id="inlineFormInputGroup4" placeholder="Confirm New Password">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <button type="submit" class="btn btn-secondary swipe-to-top">Change Password</button>

                                </div>
                            </form>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>
</section>

