

<!-- Signup Content -->
<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Signup</li>
            </ol>
        </div>
    </nav>
</div>

<section class="pro-content login-content">
    <div class="container">

        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    Signup Page
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">

                <div class="registration-process">
                    <h2 >New Account</h2>
                    <form action="/signup" method="post" name="general-form">
                        <div class="from-group row mb-4">
                            <div class="input-group col-12">

                                <input type="text" name="firstname" class="form-control" id="inlineFormInputGroup01" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="from-group row mb-4">
                            <div class="input-group col-12">

                                <input type="text" name="lastname" class="form-control" id="inlineFormInputGroup02" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="from-group row mb-4">

                            <div class="input-group col-12">

                                <input type="email" name="email" class="form-control" id="inlineFormInputGroup03" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="from-group row mb-4">

                            <div class="input-group col-12">

                                <input minlength="5" type="password" name="password" class="form-control" id="inlineFormInputGroup1" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="from-group row mb-4">

                            <div class="input-group col-12">

                                <input minlength="5" type="password" name="confirm_password" class="form-control" id="inlineFormInputGroup1" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <div class="from-group row mb-4">

                            <div class="input-group col-12">


                                <div class="terms">
                                    <input class="terms-checkbox" type="checkbox" name="terms" required="required"/>
                                    <span class="terms-text">I've read & agree with the <a href="/termsOfUse">Terms</a> and <a href="/privacypolicy">Privacy</a>.</span>
                                </div>
                            </div>
                        </div>


                        <div class="from-group row mb-4" id="formfilt">

                            <div class="input-group col-12">

                                <label>
                                    <input type="text" name="formfilt" class="form-control" id="inlineFormInputGroup2"  required>I've read & agree with the<a href="/termsOfUse" target="_blank"> Terms</a> and<a href="/privacyPolicy" target="_blank"> Privacy</a>.
                                </label>
                            </div>
                        </div>


                        <div class="from-group">
                            <button class="btn btn-secondary swipe-to-top">Create Account</button>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h2>Already Registered?</h2>

                <div class="registration-process">

                    <form>

                        <div class="from-group">
                            <a href="/signin" class="btn btn-primary swipe-to-top">Login</a>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>



























