




<!-- login Content -->
<div class="container-fuild">
    <nav aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </div>
    </nav>
</div>

<section class="pro-content login-content">
    <div class="container">

        <div class="row">
            <div class="pro-heading-title">
                <h1>
                    Login Page
                </h1>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">

                <div class="registration-process">
                    <h2>Already Registered?</h2>
                    <form action="/signin"  method="post" name="login">
                        <div class="from-group row mb-4">

                            <div class="input-group col-12">

                                <input type="email" name="email" class="form-control" id="inlineFormInputGroup0" placeholder="Email">
                            </div>
                        </div>
                        <div class="from-group row mb-4">

                            <div class="input-group col-12">

                                <input type="password" name="password" class="form-control" id="inlineFormInputGroup1" placeholder="Password">
                            </div>
                        </div>
                        <div class="from-group">
                            <button class="btn btn-secondary swipe-to-top">Login</button>
                            <a href="/forgot" class="btn btn-link">Forgot Password</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h2 >New Customer</h2>
                <div class="registration-process">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nulla vitae viverra nibh. Etiam a arcu sed mi suscipit rutrum.
                        Sed a lorem pellentesque, dignissim risus in, feugiat ipsum.</p>
                    <form>

                        <div class="from-group">
                            <a href="/signup" class="btn btn-primary swipe-to-top">Create an Account</a>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>




















































<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Books &#9663</a>
    <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" href="/search?subject=All">All</a>
        <a class="dropdown-item" href="/search?subject=Art">Art</a>
        <a class="dropdown-item" href="/search?subject=Business and Economics">Business & Economics</a>
        <a class="dropdown-item" href="/search?subject=Cooking">Cooking</a>
        <a class="dropdown-item" href="/search?subject=English">English</a>
        <a class="dropdown-item" href="/search?subject=Foreign Language">Foreign Language</a>
        <a class="dropdown-item" href="/search?subject=Health and Fitness">Health & Fitness</a>
        <a class="dropdown-item" href="/search?subject=History">History</a>
        <a class="dropdown-item" href="/search?subject=Law and Political Science">Law & Political Science</a>
        <a class="dropdown-item" href="/search?subject=Mathematics">Mathematics</a>
        <a class="dropdown-item" href="/search?subject=Medical">Medical</a>
        <a class="dropdown-item" href="/search?subject=Performing Arts">Performing Arts</a>
        <a class="dropdown-item" href="/search?subject=Philosophy and Social Science">Philosophy & Social Science</a>
        <a class="dropdown-item" href="/search?subject=Science">Science</a>
        <a class="dropdown-item" href="/search?subject=Technology and Engineering">Technology & Engineering</a>
        <a class="dropdown-item" href="/search?subject=Other">Other</a>
    </div>


