<ul class="navbar-nav">
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/">Home</a></li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Books &#9663</a>
        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="/search?subject=All">All</a>
            <a class="dropdown-item" href="/search?subject=Art">Art</a>
            <a class="dropdown-item" href="/search?subject=Business and Economics">Business & Economics</a>
            <a class="dropdown-item" href="/search?subject=Cooking">Cooking</a>
            <a class="dropdown-item" href="/search?subject=English">English</a>
            <a class="dropdown-item" href="/search?subject=Foreign Language">Foreign Language</a>
            <a class="dropdown-item" href="/search?subject=Health and Fitness">Health & Fitness</a>
            <a class="dropdown-item" href="/search?subject=History">History</a>
            <a class="dropdown-item" href="/search?subject=Law and Political Science">Law & Political Science</a>
            <a class="dropdown-item" href="/search?subject=Mathematics">Mathematics</a>
            <a class="dropdown-item" href="/search?subject=Medical">Medical</a>
            <a class="dropdown-item" href="/search?subject=Performing Arts">Performing Arts</a>
            <a class="dropdown-item" href="/search?subject=Philosophy and Social Science">Philosophy & Social Science</a>
            <a class="dropdown-item" href="/search?subject=Science">Science</a>
            <a class="dropdown-item" href="/search?subject=Technology and Engineering">Technology & Engineering</a>
            <a class="dropdown-item" href="/search?subject=Other">Other</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="/howitworks">How it Works</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/signin">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-link--rounded" href="/signup">Sign Up</a>
    </li>
</ul>