<!-- //Header Style One -->
<header id="headerOne" class="header-area header-one header-desktop">



    <div class="header-mini bg-top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">

                    <div class="navbar-lang">

                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle">
                                English
                            </a>
                            <div class="dropdown-menu" >
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="#">Arabic</a>

                            </div>
                        </div>

                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle">
                                USD
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">($)&nbsp;USD</a>
                                <a class="dropdown-item" href="#">€&nbsp;EUR</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-7">
                    <div class="pro-header-options">
                        <div class="dropdown">

                            <a class="pro-avatar">Welcome&nbsp;User</a>
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle">
                                My Account
                            </a>
                            <div class="dropdown-menu" >
                                <a class="dropdown-item" href="profile.html">Profile</a>
                                <a class="dropdown-item" href="wishlist.html">Wishlist&nbsp;(3)</a>
                                <a class="dropdown-item" href="compare.html">Compare&nbsp;(2)</a>
                                <a class="dropdown-item" href="orders.html">Orders</a>
                                <a class="dropdown-item" href="shipping-address.html">Shipping Address</a>
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header-maxi bg-header-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-12 col-lg-2">
                    <a href="/" class="logo" data-toggle="tooltip" data-placement="bottom"  >
                        <img class="img-fluid" src="/images/logo/logo-full-blackblue.png" alt="logo here">
                    </a>
                </div>

                <div class="col-12 col-sm-8">
                    <form class="form-inline" >
                        <div class="search-field-module">
                            <div class="search-field-select" >
                                <select class="selectpicker">
                                    <option selected>All Categories</option>
                                    <option value="1">Rings
                                        &nbsp;</option>
                                    <option value="1">Earrings&nbsp;</option>
                                    <option value="1">Crowns&nbsp;</option>
                                    <option value="1">Necklace&nbsp;</option>
                                    <option value="1">Bracelet&nbsp;</option>
                                    <option value="1">Anklet&nbsp;</option>
                                    <option value="1">Hairpin&nbsp;</option>
                                    <option value="2">Bangle&nbsp;</option>

                                </select>
                            </div>
                            <div class="search-field-wrap">
                                <input  type="search" placeholder="Search Products..." data-toggle="tooltip" data-placement="bottom" title="search item">
                                <button class="btn btn-secondary swipe-to-top" data-toggle="tooltip" data-placement="bottom" title="Search Products">
                                    <i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                    <ul class="pro-header-right-options">
                        <li>
                            <a href="wishlist.html" class="btn" data-toggle="tooltip" data-placement="bottom" title="Wishlist">
                                <i class="far fa-heart"></i>
                                <span class="badge badge-secondary">3</span>
                            </a>
                        </li>
                        <li class="dropdown" data-toggle="tooltip" data-placement="bottom" title="cart">
                            <button class="btn dropdown-toggle" type="button" id="headerOneCartButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                <i class="fas fa-shopping-cart"></i>
                                <span class="badge badge-secondary">2</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="headerOneCartButton">
                                <ul class="shopping-cart-items">
                                    <li>
                                        <div class="item-thumb">

                                            <div class="image">
                                                <img class="img-fluid" src="images/product_images/product_image_02.jpg" alt="Product Image">
                                            </div>
                                        </div>
                                        <div class="item-detail">
                                            <h2>Crystal Water Drop Earrings</h2>
                                            <div class="item-s">2 x $285.00 <i class="fas fa-trash"></i></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-thumb">

                                            <div class="image">
                                                <img class="img-fluid" src="images/product_images/product_image_03.jpg" alt="Product Image">
                                            </div>
                                        </div>
                                        <div class="item-detail">
                                            <h2>Crytal Wedding Engagement Rings</h2>
                                            <span class="item-s">4 x $85.00 <i class="fas fa-trash"></i></span>
                                        </div>
                                    </li>
                                    <li>
                              <span class="item-summary">Total&nbsp;:&nbsp;<span>$910.00</span>
                              </span>
                                    </li>
                                    <li>
                                        <a class="btn btn-link btn-block " href="cart-page1.html">View Cart</a>
                                        <a class="btn btn-secondary btn-block  swipe-to-top" href="checkout.html">Checkout</a>
                                    </li>
                                </ul>


                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>