<!-- //Header Style One -->
<header id="headerOne" class="header-area header-one header-desktop">



    <div class="header-mini bg-top-bar">
        <div class="container">
            <div class="row align-items-center">


                <div class="col-12 col-md-12">
                    <div class="pro-header-options">
                        <div class="dropdown">

                            <a class="pro-avatar">Hi&nbsp;{{ currentUserObject.firstname }}!</a>

                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle">
                                Account
                            </a>

                            <div class="dropdown-menu" >
                                {{#if (user_is_logged_in currentUser)}}
                                    <a class="dropdown-item" href="/profile">Profile</a>
                                    <a class="dropdown-item" href="/signout">Sign Out</a>

                                {{else}}


                                    <a class="dropdown-item" href="/signup">Sign Up</a>
                                    <a class="dropdown-item" href="/signin">Sign In</a>


                                {{/if}}


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header-maxi bg-header-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-12 col-lg-2">
                    <a href="/" class="logo" data-toggle="tooltip" data-placement="bottom"  >
                        <img class="img-fluid" src="/images/logo/logo-full-blackblue.png" alt="logo here">
                    </a>
                </div>

                <div class="col-12 col-sm-8">
                    <form class="form-inline" method="get" action="/search/1">
                        <div class="search-field-module">
                            <div class="search-field-select" >
                                <select name="subject" class="selectpicker">
                                    <option value="All" selected>All Categories</option>
                                    <option value="Art">Art</option>
                                    <option value="Business &amp; Economics">Business & Economics</option>
                                    <option value="Cooking">Cooking</option>
                                    <option value="English">English&nbsp;</option>
                                    <option value="Foreign Language">Foreign Language</option>
                                    <option value="Health and Fitness">Health & Fitness</option>
                                    <option value="History">History&nbsp;</option>
                                    <option value="Law and Political Science">Law & Political Science</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Medical">Medical</option>
                                    <option value="Performing Arts">Performing Arts&nbsp;</option>
                                    <option value="Philosophy and Social Science">Philosophy & Social Science&nbsp;</option>
                                    <option value="Science">Science&nbsp;</option>
                                    <option value="Technology and Engineering">Technology & Engineering&nbsp;</option>
                                    <option value="Other">Other&nbsp;</option>


                                </select>
                            </div>
                            <div class="search-field-wrap">
                                <input  name="query" autocomplete="off" type="search" placeholder="Leave empty for all results..." data-toggle="tooltip" data-placement="bottom" title="search item">
                                <button class="btn btn-secondary swipe-to-top" data-toggle="tooltip" data-placement="bottom" title="Search Products">
                                    <i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
    {{#if (user_is_logged_in currentUser) }}
                <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                    <ul class="pro-header-right-options">
                        <li>
                            <a href="/profile" class="btn" data-toggle="tooltip" data-placement="bottom" title="My Books">
                                <i class="fas fa-book"></i>

                            </a>
                        </li>
                        <li>
                            <a href="/conversations" class="btn" data-toggle="tooltip" data-placement="bottom" title="Messages">
                                <i class="fas fa-comment"></i>

                            </a>
                        </li>

                        <li>
                            <a href="/profile/uploadbook" class="btn" data-toggle="tooltip" data-placement="bottom" title="Upload">
                                <i class="fas fa-upload"></i>

                            </a>
                        </li>

                    </ul>
                </div>
    {{/if}}
            </div>
        </div>
    </div>

</header>