.info-boxes-content{
    border-top : 1px solid #f4f4f4;
    background-color: $footer-bg;
    .info-box-full{
        color: $body-color;
        padding: 30px;
        position: relative;
        overflow: hidden;

        .info-box {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            
            padding-right: 15px;

            .fas {
                font-size: 35px;
                color: $secondary;
                margin-bottom: 0;
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 100px;
                -ms-flex: 0 0 100px;
                flex: 0 0 100px;
                max-width: 100px;
                text-align: center;
                -webkit-align-self: center;
                -ms-flex-item-align: center;
                align-self: center;
            }
            
            .block {
                
                h4{
                    font-family: $font-family-base-bold;
                    font-size: $font-size-lg;
                   
                }
                p{
                    font-size: $font-size-base;
                    margin-bottom: 0;
                }
            }
        }  
        .last{
            padding-right: 0;
        }
    }
}

// <!-- Home Page 3 -->
.pro-bc-content{
    padding-bottom: 100px;

    .pro-heading-title{
        padding-left: 0;
        padding-bottom: 35px;

    }

    .pro-main{
        .banner-image{
            overflow: hidden;
            img{
                transition: transform .4s; /* Animation */
                width: 100%;
            }

            &:hover{
                img {
                    -webkit-transform: scale3d(1.1,1.1,1);
                    transform: scale3d(1.1,1.1,1);
                }
            }
        }
        .pro-description{
            text-align: center;

            h2{
                font-family: $font-family-base-bold;
            }
        }
    }
}

.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: url(../images/loader-64x/Preloader_2.gif) center no-repeat #fff;
    background-size: 64px;
}

@media only screen and (max-width:991px){
    .pro-bc-content {
        padding-bottom: 70px;
    }   

}

@media only screen and (max-width:767px){

    .info-boxes-content .info-box-full {
        border: none;
        padding:30px;
        margin:0;

        .info-box{
            justify-content: start;
            border-width: 0px;
            padding-right: 0;
            margin-bottom: 30px;

            .fas{
                text-align: left;
                max-width: 65px;
            }
        }
        .last{
            margin-bottom: 0;
        }
    }

    .pro-main{
        margin-bottom:70px;
    }

    .pro-main.last{
        margin-bottom: 0;   
    }
}